<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Page 1</title>
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

</head>
<body>

  <div class="top-center"><h1>HI Snajana</h1></div>

  <div class="center-content">
    <div><h1>This is Surya</h1></div>
    <button class="button" onclick="location.href='/page1'">Okasari click chey raa😘</button>

  </div>

</body>
</html>
