<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Happy Birthday</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='page1.css') }}">
</head>
<body>

  <div class="content">
    <div class="message"><h1 style="font-size: 3rem; color: rgb(200, 35, 237);">🎉 Happy Birthday Sanjana 🎂🩷😍</h1></div>

    <a  style="border-radius: 7px; padding: 12px; background-color: pink;" href="{{ url_for('page2') }}">click me</a>


  </div>

</body>
</html>
